@using Core.Models
@model Web.Models.PluckList

<p>
    <span class="col-2" style="display: inline-block">Navn:</span>
    <span>@Model.Name</span>
</p>
<p>
    <span class="col-2" style="display: inline-block">Forsendelse:</span>
    <span>@Model.Shipment</span>
</p>
<p>
    <span class="col-2" style="display: inline-block">Adresse:</span>
    <span>@Model.Address</span>
</p>
<hr/>
<table class="table table-striped w-full">
    <thead>
    <tr>
        <th class="col-1">Antal</th>
        <th class="col-1">Rest</th>
        <th class="col-1">Type</th>
        <th class="col-3">Produktnr.</th>
        <th class="col-5">Navn</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Amount</td>
            <td>@(item.Total - item.Reserved)</td>
            <td>@Enum.GetName(typeof(ItemType), item.Type)</td>
            <td>@item.ProductID</td>
            <td>@item.Title</td>
        </tr>
    }
    </tbody>
</table>
